.bg-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: black;
  padding: 24px 5vw;
}
.website-logo-container {
  display: flex;
  align-items: center;
}
.website-logo {
  width: 45px;
  margin-right: 12px;
}
.website-name {
  color: #2cc6c6;
  font-size: 24px;
}
.main-heading {
  font-size: 32px;
  color: white;
}
